
html, body {
    display: block; width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}
nav, nav .nav-wrapper {
	position: relative; z-index: 5; box-shadow: 2px 2px 5px #000;
}
.scroll-auto {
	overflow: auto;
}
.brand-logo {
	font-weight: 200;
}
.brand-logo > span {
	color: #007bff; font-weight: bold;
}
.brand-logo > small {
	color: #565f69; font-size: 12px;
}
.page {
	height: calc(100% - 64px);
}
.page > .row, .page > .row > .col, .editor {
	height: 100%; padding: 0 !important;
}

.navigator ul {
	padding-left: 15px; margin: 0; margin-top: 5px;
}
.navigator > ul {
	padding-left: 0; margin-top: 15px;
}
.navigator li {
	list-style: none;
}
.navigator a {
	border-top: 1px solid #222629; padding: 5px; display: block; color: #7b828b !important;
}
.navigator a .fa {
	margin-right: 5px; color: #7b828b !important
}
.navigator a.active {
	border-left: 3px solid #007bff;
}
.navigator .folder {
	font-weight: bold; color: #666;
}
.navigator .file {
	font-weight: normal; color: #fff;
}

.side-nav ul {
	margin: 6px 0;
}
.side-nav .divider {
	margin-top: 2px;
}
.side-nav.grey .subheader {
	color: #7b828b !important;
}

::-webkit-scrollbar {
	width: 8px; background-color: #0e0e0e;
}
::-webkit-scrollbar-track {
  background-color: #0e0e0e;
}
::-webkit-scrollbar-thumb {
  background: #24292d; border: 1px solid #0e0e0e; border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #424950;
}
::-webkit-scrollbar-thumb:active {
  background: #007bff;
}

@media (max-width: 768px) {
	.page {
		height: calc(100% - 56px);
	}
}

@media (min-width: 768px) {
	.brand-logo {
		margin-left: 15px;
	}
}
